# Runtime dependencies
typer==0.24.1
keyring==25.7.0
prompt_toolkit==3.0.52
httpx==0.28.1
pathspec==1.0.4
tree_sitter
chromadb==1.5.1
rapidfuzz

# Development dependencies
coverage==7.13.4
pytest==9.0.2
pexpect==4.9.0
